{{> navigation }}
{{#each delProducto}}
<div class="container col-md-12 principal d-flex justify-content-center">
    <div class="card bg-light">
        <div class="card-body">
            <h2 class="card-title">¿Desea eliminar este producto?</h2>
                <input type="hidden" name="_id" value="{{_id}}">
                <h3>Nomre: {{nombre}} </h3>
                <h4>Categoria: {{categoria}} </h4>
                <h4>Disponibilidad: {{cantidad}} </h4>
                <h4>Precio: {{precio_venta}} </h4>
            <div class="row">
                <form action="/producto/del_producto/{{_id}}" method="post">
                    <button class="btn btn-outline-danger">Eliminar</button>
                </form>
                <form action="/info_producto" method="post" class="d-flex justify-content-center">
                    <input type="text" name="id" id="id" value={{_id}} hidden required>
                    <button type="submit" class="btn btn-outline-primary">Cancelar</button>
                </form>
            </div>

        </div>
    </div>
</div>

{{/each}}