{{> navigation }}
{{#each editProducto}}
<br>
<br>
<br>
<section class="mb-3 d-flex justify-content-center">
    <div class="card col-sm-3 p-10">
        <div class="mb-3 text-center">
            <h3>Editar Producto</h3>
        </div>
        <div class="mb-2">
            <form action="/producto/edit_producto/{{_id}}" method="post">
                <div class="mb-2">
                    <label for="nombre">Nombre de Producto</label>
                    <input type="text" class="form-control" name="nombre" id="nombre" value="{{nombre}}"required>
                </div>
                <div class="mb-2">
                    <label for="cantidad">Cantidad</label>
                    <input type="number" class="form-control" name="cantidad" id="cantidad" value="{{cantidad}}" required>
                </div>
                <div class="mb-2">
                    <label for="precio_compra">Precio de Compra</label>
                    <input type="number" class="form-control" name="precio_compra" id="precio_compra" value="{{precio_compra}}" required>
                </div>
                <div class="mb-2">
                    <label for="precio_venta">Precio de Compra</label>
                    <input type="number" class="form-control" name="precio_venta" id="precio_venta" value="{{precio_venta}}" required>
                </div>
                <div class="mb-2">
                    <label for="categoria">Categoria</label>
                    <input type="text" class="form-control" name="categoria" id="categoria" value="{{categoria}}" required>
                </div>
                    <!--                <div class="mb-2">-->
                    <!--                    <select name="categorias" id="categorias" class="form-select" aria-label="Default select example">-->
                    <!--                        <option selected>Categorias</option>-->
                        <!--                        {{#each categorias}}-->
                    <!--                            <option value="{{nombre}}">{{nombre}}</option>-->
                        <!--                        {{/each}}-->
                    <!--                    </select>-->
                    <!--                </div>-->
                <div class="mb-2 text-center">
                    <button class="btn btn-success">Guardar</button>
                    <form action="/info_producto" method="post" class="d-flex justify-content-center">
                        <input type="text" name="id" id="id" value={{_id}} hidden required>
                        <button type="submit" class="btn btn-outline-danger">Cancelar</button>
                    </form>
                </div>
            </form>
        </div>
    </div>
</section>
{{/each}}