{{> navigation }}
{{#each infoProducto}}
<label>Nombre <br> {{nombre}}</label>
<br>
<label>ID: <br> {{id}}</label>
<br>
<label>CANTIDAD: <br> {{cantidad}}</label>
<br>
<label>PRECIO COMPRA: <br> {{precio_compra}}</label>
<br>
<label>PRECIO VENTA: <br> {{precio_venta}}</label>
<br>
<label>CATEGORIA: <br> {{categoria}}</label>
<br>
<label>FECHA DE REGISTRO: <br> {{fecha}}</label>

<a href="../.."><input type="button" value="Atras"></a>
<a href="/menu/producto/edit_producto/{{_id}}"><input type="button" value="Editar"></a>
<a href="/menu/producto/del_producto/{{_id}}"><input type="button" value="Eliminar"></a>

{{/each}}