{{> navigation }}


{{#each infoProducto}}
<div class="container">
    <div class="box">
        <div class="Heading">
            <h2>{{nombre}} </h2>
            <h4>ID: {{id}}</h4>
            <h4>Categoria: {{categoria}}</h4>
            <h4>Disponible: {{cantidad}}</h4>
            <h4>Precio de Venta: {{precio_venta}}Lps</h4>
            <h4>Precio de Compra: {{precio_compra}}Lps</h4>
            <h4>Registro:{{fecha}}</h4>
            <a href="/menu/producto/edit_producto/{{_id}}"><button type="button" class="btn btn-outline-primary">Editar</button></a>
            <a href="/menu/producto/del_producto/{{_id}}"><button type="button" class="btn btn-outline-danger">Eliminar</button></a>
        </div>

    </div>
</div>

{{/each}}


<!--Version vieja-->
<!--{{#each infoProducto}}-->
<!--<label>Nombre <br> {{nombre}}</label>-->
<!--<br>-->
<!--<label>ID: <br> {{id}}</label>-->
<!--<br>-->
<!--<label>CANTIDAD: <br> {{cantidad}}</label>-->
<!--<br>-->
<!--<label>PRECIO COMPRA: <br> {{precio_compra}}</label>-->
<!--<br>-->
<!--<label>PRECIO VENTA: <br> {{precio_venta}}</label>-->
<!--<br>-->
<!--<label>CATEGORIA: <br> {{categoria}}</label>-->
<!--<br>-->
<!--<label>FECHA DE REGISTRO: <br> {{fecha}}</label>-->
<!--<a href="../.."><input type="button" value="Atras"></a>-->
<!--<a href="/menu/producto/edit_producto/{{_id}}"><input type="button" value="Editar"></a>-->
<!--<a href="/menu/producto/del_producto/{{_id}}"><input type="button" value="Eliminar"></a>-->
<!--{{/each}}-->