{{> navigation }}
{{#each infoProducto}}
<div class="container col-md-12 principal d-flex justify-content-center">
    <div class="card bg-light">
        <div class="card-body">
            <h2 class="card-title">{{nombre}}</h2>
            <h4>ID: {{id}}</h4>
            <h4>Categoria: {{categoria}}</h4>
            <h4>Disponible: {{cantidad}}</h4>
            <h4>Precio de Venta: {{precio_venta}}Lps</h4>
            <h4>Precio de Compra: {{precio_compra}}Lps</h4>
            <h4>Registro: {{fecha}}</h4>
            <div class="text-right">
                <form action="/edit_producto" method="post">
                    <input type="text" name="id" id="id" value={{id}} hidden required>
                    <button type="submit" class="btn btn-outline-danger">Editar</button>
                </form>
                <form action="/del_producto" method="post">
                    <input type="text" name="id" id="id" value={{id}} hidden required>
                    <button type="submit" class="btn btn-outline-danger">Eliminar</button>
                </form>
            </div>
        </div>
    </div>
</div>
{{/each}}