{{> navigation }}
    {{#each infoProducto}}
    <label >Nombre <br> {{nombre}}</label>
    <br>
    <label>ID: <br> {{id}}</label>
    <br>
    <label>CANTIDAD: <br> {{cantidad}}</label>
    <br>
    <label>PRECIO COMPRA: <br> {{precio_compra}}</label>
    <br>
    <label>PRECIO VENTA: <br> {{precio_venta}}</label>
    <br>
    <label>CATEGORIA: <br> {{categoria}}</label>
    <br>
    <label>FECHA DE REGISTRO: <br> {{fecha}}</label>
    {{/each}}
<a href="../"><input type="button" value="Atras"></a>
<a href="/menu/edit_producto"><input type="button" value="Editar"></a>
