{{> navigation }}
<div class="container-fluid">
    <div class="row query">
        <div class="col-sm-12">
            <div class="">
                <div class="row">
                    <div class="col-lg-6 d-flex justify-content-center">
                        <label class="label">Citas Pendientes</label>
                    </div>
                    <div class="col-lg-6 d-flex justify-content-center">
                        <form class="form-inline" action="/filtrarCitasPen" method="post">
                            <div class="input-group mb-3 ">
                                <input type="text" class="form-control" placeholder="Nombre" name="nombre" id="nombre">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-primary" type="submit">Buscar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr class="regla">
    <div class="row d-flex justify-content-center">
        <div class="col-sm-6 product-list">
            <div class="container p-4">
                <div class="row table-responsive-sm">
                    <table class="table table-striped table-hover">
                        <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Numero</th>
                            <th scope="col">Servicio</th>
                            <th scope="col">Fecha de la Cita</th>
                        </tr>
                        </thead>
                        <tbody>
                        {{#each penCita}}
                            <tr>
                                <td>
                                    <form action="/info_cita_pen" method="post">
                                        <input type="text" name="id" id="id" value={{_id}} hidden required>
                                        <input class="btn btn-outline-secondary" type="submit" value="ver">
                                    </form>
                                </td>
                                <td>{{nombre}}</td>
                                <td>{{numero}}</td>
                                <td>{{servicio}}</td>
                                <td>{{fecha_cita}}</td>
                            </tr>
                        {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>