{{> navigation }}

<!--{{#each delServicio}}-->
<!--<div class="container col-md-12 principal d-flex justify-content-center">-->
<!--    <div class="card bg-light">-->
<!--        <div class="card-body">-->
<!--            <h2 class="card-title">¿Desea eliminar este Servicio?</h2>-->
<!--            <form action="/servicio/del_servicio/{{_id}}" method="post">-->
<!--                <input type="hidden" name="_id" value="{{_id}}">-->
<!--                <h3>{{nombre}} </h3>-->
<!--                <h5>ID: {{id}}</h5>-->
<!--                <div class="text-right">-->
<!--                    <a href="/servicio/info_servicio/{{id}}"><input type="button" value="Cancelar" class="btn btn-outline-dark"></a>-->
<!--                    <button class="btn btn-outline-danger">Eliminar</button>-->
<!--                </div>-->
<!--            </form>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<!--{{/each}}-->