{{> navigation }}
{{#each infoCita}}
    <div class="container col-md-10 principal d-flex justify-content-center">
        <div class="card bg-light">
            <div class="card-body">
                <div class="row d-flex justify-content-center">
                    <h2 class="card-title">Cita de {{nombre}}</h2>
                    <hr class="regla">
                </div>
                <div class="row">
                    <div class="col d-flex justify-content-center">
                        <h4 class="linea">Servicio:</h4>
                    </div>
                    <div class="col d-flex justify-content-center">
                        <input type="text" class="value" value="{{servicio}}" readonly>
                    </div>
                </div>
                <div class="row">
                    <div class="col d-flex justify-content-center">
                        <h4 class="linea">Fecha de Cita:</h4>
                    </div>
                    <div class="col d-flex justify-content-center">
                        <input type="text" class="value" value="{{fecha_cita}}" readonly>
                    </div>
                </div>
                <div class="row">
                    <div class="col d-flex justify-content-center">
                        <h4 class="linea">Correo:</h4>
                    </div>
                    <div class="col d-flex justify-content-center">
                        <input type="text" class="value" value="{{correo}}" readonly>
                    </div>
                </div>
                <div class="row">
                    <div class="col d-flex justify-content-center">
                        <h4 class="linea">Numero:</h4>
                    </div>
                    <div class="col d-flex justify-content-center">
                        <input type="text" class="value" value="{{numero}}" readonly>
                    </div>
                </div>
                <div class="row">
                    <div class="col d-flex justify-content-center">
                        <h4 class="linea">Registro:</h4>
                    </div>
                    <div class="col d-flex justify-content-center">
                        <input type="text" class="value" value="{{fecha}}" readonly>
                    </div>
                </div>
                <div class="row buttons d-flex justify-content-around">
                    <form action="/edit_cita" method="post">
                        <input type="text" name="id" id="id" value={{_id}} hidden required>
                        <button type="submit" class="btn btn-outline-primary">Editar</button>
                    </form>
                    <form action="/del_cita" method="post">
                        <input type="text" name="id" id="id" value={{_id}} hidden required>
                        <button type="submit" class="btn btn-outline-danger">Eliminar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{{/each}}





{{#each infoCita}}
<div class="container col-md-12 principal d-flex justify-content-center">
    <div class="card bg-light">
        <div class="card-body">
            <h2 class="card-title">Cita de {{nombre}}</h2>
            <h4>Servicio: {{servicio}}</h4>
            <h4>Fecha de Cita: {{fecha_cita}}</h4>
            <h4>Correo: {{correo}}Lps</h4>
            <h4>Numero: {{numero}}</h4>
            <h4>Registro: {{fecha}}</h4>
            <div class="row">
                <form action="/edit_cita" method="post">
                    <input type="text" name="id" id="id" value={{_id}} hidden required>
                    <button type="submit" class="btn btn-outline-primary">Editar</button>
                </form>
                <form action="/del_cita" method="post">
                    <input type="text" name="id" id="id" value={{_id}} hidden required>
                    <button type="submit" class="btn btn-outline-danger">Eliminar</button>
                </form>
            </div>
        </div>
    </div>
</div>
{{/each}}