{{> navigation }}
{{#each infoCita}}
<div class="container col-md-12 principal d-flex justify-content-center">
    <div class="card bg-light">
        <div class="card-body">
            <h2 class="card-title">Servicio de {{nombre}}</h2>
            <h4>Correo: {{correo}}Lps</h4>
            <h4>Numero: {{numero}}</h4>
            <h4>Servicio: {{servicio}}</h4>
            <h4>Fecha de Cita: {{fecha_cita}}</h4>
            <h4>Registro: {{fecha}}</h4>
            <div class="text-right">
                <a href="/servicio/edit_servicio/{{_id}}"><button type="button" class="btn btn-outline-primary">Editar</button></a>
                <a href="/servicio/del_servicio/{{_id}}"><button type="button" class="btn btn-outline-danger">Eliminar</button></a>
            </div>
        </div>
    </div>
</div>
{{/each}}