{{> navigation }}
{{#each infoCita}}
<div class="container col-md-12 principal d-flex justify-content-center">
    <div class="card bg-light">
        <div class="card-body">
            <h2 class="card-title">Cita de {{nombre}}</h2>
            <h4>Servicio: {{servicio}}</h4>
            <h4>Fecha de Cita: {{fecha_cita}}</h4>
            <h4>Correo: {{correo}}Lps</h4>
            <h4>Numero: {{numero}}</h4>
            <h4>Registro: {{fecha}}</h4>
            <div class="row">
                <form action="/edit_cita" method="post">
                    <input type="text" name="id" id="id" value={{_id}} hidden required>
                    <button type="submit" class="btn btn-outline-primary">Editar</button>
                </form>
                <form action="/del_cita" method="post">
                    <input type="text" name="id" id="id" value={{_id}} hidden required>
                    <button type="submit" class="btn btn-outline-danger">Eliminar</button>
                </form>
            </div>
        </div>
    </div>
</div>
{{/each}}