{{> navigation }}
{{#each editServicio}}

<section class="d-flex justify-content-center">
    <div class="card col-sm-3 p-3">
        <div class="mb-3 text-center">
            <h2>Servicio de {{nombre}}</h2>
        </div>
        <div class="mb-2">
            <form action="/servicio/edit_servicio/{{_id}}" method="post">
                <div class="mb-2">
                    <label for="nombre">Nombre</label>
                    <input type="text" class="form-control" name="nombre" id="nombre" value="{{nombre}}" required>
                </div>
                <div class="mb-2">
                    <label for="precio">Precio</label>
                    <input type="number" class="form-control" name="precio" id="precio" value="{{precio}}" required>
                </div>
                <div class="mb-2 text-center">
                    <button class="btn btn-outline-primary">Actualizar</button>
                </div>
            </form>
            <form action="/info_servivio" method="post" class="d-flex justify-content-center">
                <input type="text" name="id" id="id" value={{id}} hidden required>
                <button type="submit" class="btn btn-outline-danger">Cancelar</button>
            </form>
        </div>
    </div>
</section>
{{/each}}