{{> navigation }}
{{#each editEmpleado}}
<br>
<br>
<br>
<section class="mb-3 d-flex justify-content-center">
    <div class="card col-sm-3 p-10">
        <div class="mb-3 text-center">
            <h3>Editar Empleado</h3>
        </div>
        <div class="mb-2">
            <form action="/empleado/edit_empleado/{{_id}}" method="post">
                <div class="mb-2">
                    <label for="id">Identidad</label>
                    <input type="text" class="form-control" name="id" id="id" value="{{id}}" required>
                </div>
                <div class="mb-2">
                    <label for="nombre">Nombre</label>
                    <input type="text" class="form-control" name="nombre" id="nombre" value="{{nombre}}" required>
                </div>
                <div class="mb-2">
                    <label for="apellido">Apellido</label>
                    <input type="text" class="form-control" name="apellido" id="apellido" value="{{apellido}}" required>
                </div>
                <div class="mb-2">
                    <label for="telefono">Telefono</label>
                    <input type="text" class="form-control" id="telefono" name="telefono" value="{{telefono}}" required>
                </div>
                <div class="mb-2">
                    <label for="correo">Correo</label>
                    <input type="email" class="form-control" id="correo" name="correo" value="{{correo}}" required>
                </div>
                <div class="mb-2">
                    <label for="cargo">Cargo</label>
                    <input type="text" class="form-control" id="cargo" name="cargo" value="{{cargo}}" required>
                </div>
                <div class="mb-2 text-center">
                    <button class="btn btn-success">Guardar</button>
                    <a class="btn btn btn-danger" href="/cita">Cancelar</a>
                </div>
            </form>
        </div>
    </div>
</section>





<!--    <div class="container p-12">-->
<!--        <div class="row">-->
<!--            <div class="col-md-12 mx-auto principal d-flex justify-content-center">-->
<!--                <div class="card">-->
<!--                    <div class="card-body">-->
<!--                    <form action="/empleado/edit_empleado/{{_id}}" method="post">-->
<!--                        <label for="">Id</label>-->
<!--                        <div class="form-group">-->
<!--                            <input type="text" class="form-control" name="id" value="{{id}}" autofocus required>-->
<!--                        </div>-->
<!--                        <label for="">Nombre</label>-->
<!--                        <div class="form-group">-->
<!--                            <input type="text" class="form-control" name="nombre" value="{{nombre}}" required>-->
<!--                        </div>-->
<!--                        <label for="">Apellido</label>-->
<!--                        <div class="form-group">-->
<!--                            <input type="text" class="form-control" name="apellido" value="{{apellido}}" required>-->
<!--                        </div>-->
<!--                        <label for="">Telefono</label>-->
<!--                        <div class="form-group">-->
<!--                            <input type="text" class="form-control" name="telefono" value="{{telefono}}" required>-->
<!--                        </div>-->
<!--                        <label for="">Correo</label>-->
<!--                        <div class="form-group">-->
<!--                            <input type="text" class="form-control" name="correo" value="{{correo}}" required>-->
<!--                        </div>-->
<!--                        <label for="">Cargo</label>-->
<!--                        <div class="form-group">-->
<!--                            <input type="text" class="form-control" name="cargo" value="{{cargo}}" required>-->
<!--                        </div>-->
<!--                        <label for=""></label>-->
<!--                        <div class="form-group d-flex justify-content-center">-->
<!--                            <label>-->
<!--                                <button class="btn btn-success">Actualizar</button>-->
<!--                            </label>-->
<!--                        </div>-->
<!--                    </form>-->
<!--                    <form action="/info_empleado" method="post" class="d-flex justify-content-center">-->
<!--                        <input type="text" name="id" id="id" value={{id}} hidden required>-->
<!--                        <button type="submit" class="btn btn-outline-danger">Cancelar</button>-->
<!--                    </form>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

{{/each}}
