{{> navigation }}
{{#each infoEmpleado}}

<div class="container col-md-12 principal d-flex justify-content-center">
    <div class="card bg-light">
        <div class="card-body">
            <h2 class="card-title">{{nombre}} {{apellido}}</h2>
            <h4>{{cargo}}</h4>
            <h4>ID: {{id}}</h4>
            <h4>Telefono: {{telefono}}</h4>
            <h4>Correo: {{correo}}</h4>
            <h4>Registro: {{fecha}}</h4>
            <div class="text-right">
                <form action="/edit_empleado" method="post">
                    <input type="text" name="id" id="id" value={{id}} hidden required>
                    <button type="submit" class="btn btn-outline-primary">Editar</button>
                </form>
                <form action="/del_empleado" method="post">
                    <input type="text" name="id" id="id" value={{id}} hidden required>
                    <button type="submit" class="btn btn-outline-danger">Eliminar</button>
                </form>
            </div>
        </div>
    </div>
</div>


<!--Version vieja-->
<!--<label>ID: <br> {{id}}</label>-->
<!--<br>-->
<!--<label>NOMBRE: <br> {{nombre}}</label>-->
<!--<br>-->
<!--<label>APELLIDO: <br> {{apellido}}</label>-->
<!--<br>-->
<!--<label>TELEFONO: <br> {{telefono}}</label>-->
<!--<br>-->
<!--<label>CORREO: <br> {{correo}}</label>-->
<!--<br>-->
<!--<label>CARGO: <br> {{cargo}}</label>-->
<!--<br>-->
<!--<label>FECHA DE REGISTRO: <br> {{fecha}}</label>-->

<!--<a href="../"><input type="button" value="Atras"></a>-->
<!--<a href="/menu/empleado/edit_empleado/{{_id}}"><input type="button" value="Editar"></a>-->
<!--<a href="/menu/empleado/del_empleado/{{_id}}"><input type="button" value="Eliminar"></a>-->

{{/each}}